<?xml version="1.0" encoding="utf-8"?>
<LauncherSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <MainExePath>C:\GitHub\MuMain\out\build\windows-x86\src\Debug\Main.exe</MainExePath>
  <Hosts>
    <ServerHostSettings>
      <Description>2</Description>
      <Address>127.127.127.127</Address>
      <Port>55901</Port>
    </ServerHostSettings>
  </Hosts>
</LauncherSettings>